# Case Study: Is there a relationship between playground availability and household income in New York City?

First, we import the relevant Python libraries and load the relevant datasets. The parks and playground datasets were taken from the NYC Open Data website. The income dataset was taken from the IRS website. <br>
<br>
Directory of Parks - Updated September 2018 <br>
https://data.cityofnewyork.us/Recreation/Directory-of-Parks/79me-a7rs <br>
<br>
Directory of Playgrounds - Updated January 2019 <br>
https://data.cityofnewyork.us/Environment/Directory-of-Playgrounds/59gn-q4ai <br>
<br>
Individual Income Tax Statistics by Zip Code - Updated 2016 <br>
https://www.irs.gov/statistics/soi-tax-stats-individual-income-tax-statistics-2016-zip-code-data-soi <br>
<br>
<br>
For optimal results, run the cells in sequence. This notebook requires numpy, pandas, and folium packages.

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_park = pd.read_json('DPR_Parks_001.json')
df_playground = pd.read_json('DPR_Playgrounds_001.json')
df_income = pd.read_csv('16zpallagi.csv')

# Cleaning the Parks and Playgrounds Datasets

There are 1673 total rows in the Parks dataset. However, the Parks dataset is incomplete. 1442 parks are labeled with a zipcode. 125 parks have multiple zip codes. 106 parks have no zipcodes. Each park has a unique identifier, Prop_ID. 

There are 1269 total rows in the Playgrounds dataset.  All 1269 playgrounds have a Prop_ID that would link them to a park. However, 234 school playgrounds have Prop_IDs formatted differently than those of regular parks. 1245 playgrounds have latitude and longitude data. Furthermore, the Playgrounds dataset does not include a zip code column, but does include address data, some of which may include a zip code. Since not all playgrounds have zip codes or have matching Prop_IDs, the best way to identify each playground is by its name.

In [27]:
#extract the zipcode from the address found in Location column
df_playground['zipcode'] = df_playground['Location'].str.extract('(\d\d\d\d\d)', expand=True)
df_playground[df_playground['School_ID']=='K006']

,Accessible,Adaptive_Swing,Level,Location,Name,Playground_ID,Prop_ID,School_ID,Status,lat,lon,zipcode
1003,Y,N,4.0,"43 Snyder Ave, Brooklyn, NY 11226",PS 6K,None,B,K006,Open to the Public,40.6489,-73.9566,11226

We have to figure out a way to combine the Parks and Playgrounds datasets. We can merge the datasets using an Outer Join, linking each dataset by the Prop_ID column that they both share, while preserving any other data that would have been lost from an inner join. Let's call this the AllParks dataset.

Ultimately, even though not all parks and playgrounds have zipcodes associated with them, the Zipcode column is the best way to link the AllParks dataset with the Income dataset. Because of this, not every park and playground will be included in the final result.

For the purposes of this analysis, the combined park and playground dataset will include 1413 parks and 1037 playgrounds.

In [28]:
#combine the park and playground datasets based on their zip codes. Not every park and playground will be included
#due to the fact that some parks and playgrounds don't have zip codes.

df_allparks = pd.merge(df_park,df_playground,on='Prop_ID',how='outer')

#Combine the zipcodes from the park dataset with the zipcodes from the playground dataset into one column
df_allparks = pd.concat([df_allparks['Name_x'],df_allparks['Name_y'],df_allparks['Zip'].combine_first(df_allparks['zipcode'])],axis=1)

#Because of the outer join, we only want to count unique names for parks and playgrounds to avoid overcounting
df_allparks = df_allparks.groupby('Zip', as_index=False).agg({'Name_x':'nunique','Name_y':'nunique'}).sort_values(by=['Name_x'],ascending=False)

#Rename the columns
df_allparks = df_allparks.rename(columns = {'Zip':'Zipcode','Name_x':'No. of Parks','Name_y':'No. of Playgrounds'})
df_allparks = df_allparks[['Zipcode','No. of Parks','No. of Playgrounds']]

#Because some rows have multiple zipcodes, we could eliminate them because they won't fit with our income dataset
#create a new column that counts the number of characters in the Zipcode column. A character count 
#greater than 5 indicates the row has more than one zipcode
df_allparks['counts'] = df_allparks['Zipcode'].str.len()
df_allparksCompatible = df_allparks[df_allparks['counts']==5]

print('Count of Parks and Playgrounds (multiple zipcodes):')
print('\n')
print(df_allparks.sum())
print('\n')
#there are 1537 parks and 1208 playgrounds in our cleaned-up AllParks dataset
#this dataset includes parks/playgrounds with multiple zipcodes

print('\n')
print('Count of Parks and Playgrounds (multiple zipcodes removed):')
print('\n')
print(df_allparksCompatible.sum())
#there are 1413 parks and 1037 playgrounds in the Compatible AllParks dataset
#this dataset excludes parks/playgrounds with multiple zipcodes and is more compatible
#with comparing against income dataset
df_allparksCompatible

Count of Parks and Playgrounds (multiple zipcodes):


Zipcode               1121111201100021121210314113771030111206104571...
No. of Parks                                                       1537
No. of Playgrounds                                                 1208
counts                                                             2916
dtype: object




Count of Parks and Playgrounds (multiple zipcodes removed):


Zipcode                       inf
No. of Parks          1413.000000
No. of Playgrounds    1037.000000
counts                 860.000000
dtype: float64

    Zipcode  No. of Parks  No. of Playgrounds  counts
170   11211            40                  13       5
149   11201            27                  10       5
3     10002            25                  23       5
172   11212            22                  19       5
89    10314            21                  12       5
240   11377            20                   7       5
64    10301            20                   8       5
156   11206            20                  18       5
104   10457            19                  15       5
87    10312            18                   7       5
102   10456            18                  12       5
200   11234            17                  14       5
93    10452            17                  12       5
96    10453            16                  14       5
54    10035            16                  10       5
90    10451            16                  10       5
141   11101            16                   8       5
157   11207            16                  17       5
111   10460            16                   4       5
199   11233            15                  15       5
109   10459            15                   8       5
236   11373            15                  10       5
241   11378            15                   7       5
119   10463            14                   8       5
41    10029            14                  12       5
16    10014            13                   5       5
99    10454            13                   9       5
155   11205            12                  12       5
202   11235            12                  11       5
161   11208            12                  11       5
..      ...           ...                 ...     ...
249   11414             3                   3       5
244   11411             3                   3       5
256   11421             3                   2       5
21    10019             3                   2       5
144   11103             3                   2       5
59    10040             3                   5       5
242   11379             3                   3       5
138   11004             3                   3       5
8     10007             3                   0       5
268   11436             3                   5       5
123   10464             3                   1       5
5     10004             3                   0       5
23    10021             3                   1       5
60    10065             2                   2       5
207   11239             2                   0       5
146   11104             2                   4       5
261   11427             2                   1       5
7     10005             2                   0       5
257   11422             2                   3       5
130   10470             2                   1       5
135   10475             2                   0       5
254   11419             2                   3       5
216   11359             1                   1       5
262   11428             1                   1       5
20    10018             1                   0       5
253   11418             1                   4       5
228   11366             1                   1       5
39    10028             1                   1       5
62    10280             1                   0       5
63    10282             0                   1       5

[172 rows x 4 columns]

# Cleaning the Income Dataset
The IRS Income dataset includes data from all 50 US states. We only want income data from New York, so we filter the dataset.

In [29]:
df_incomeNY = df_income[df_income['STATE'] == 'NY']
df_incomeNY

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,PREP,N2,...,N10300,A10300,N85530,A85530,N85300,A85300,N11901,A11901,N11902,A11902
102602,36,NY,0,1,3445320,2355000,445210,595120,2114350,4860320,...,1713210,1659729,20,8,0,0,441650,387884,2729330,5662377
102603,36,NY,0,2,2124110,1162700,441680,474330,1285810,3760990,...,1816240,5000576,0,0,0,0,290630,482940,1801120,4662872
102604,36,NY,0,3,1297620,644300,399250,216270,829800,2372130,...,1257120,7572716,30,18,20,42,258810,585359,1013190,2932751
102605,36,NY,0,4,825090,307120,392040,99830,554500,1705160,...,816050,7895883,0,0,0,0,183170,543754,615490,2209076
102606,36,NY,0,5,1242910,293570,841180,82060,877120,3053270,...,1237140,23154728,16500,4382,3910,2224,343770,1668063,840920,4104126
102607,36,NY,0,6,533020,86040,419810,11670,422720,1477580,...,532690,86295410,309570,959747,319850,2085711,246650,6342381,193610,6683628
102608,36,NY,6390,1,40,50,0,0,30,40,...,40,97,0,0,0,0,0,0,40,73
102609,36,NY,6390,2,20,0,30,0,0,40,...,0,0,0,0,0,0,0,0,0,0
102610,36,NY,6390,3,50,30,0,0,30,80,...,50,388,0,0,0,0,40,134,40,115
102611,36,NY,6390,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102612,36,NY,6390,5,40,0,30,0,20,90,...,40,1167,0,0,0,0,0,0,0,0
102613,36,NY,6390,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
102614,36,NY,10001,1,3740,2890,350,400,2200,4640,...,1950,2308,0,0,0,0,690,859,2510,4325
102615,36,NY,10001,2,2500,1850,240,340,1360,3390,...,2300,7660,0,0,0,0,510,1167,1900,4516
102616,36,NY,10001,3,1950,1540,190,160,1110,2440,...,1920,14814,0,0,0,0,450,1462,1430,3839
102617,36,NY,10001,4,1410,1120,170,80,820,1760,...,1390,17963,0,0,0,0,310,1401,1040,3496
102618,36,NY,10001,5,2580,1850,560,90,1540,3580,...,2570,63114,130,45,40,15,560,4030,1870,7956
102619,36,NY,10001,6,2340,1200,1030,50,1760,4150,...,2340,418983,1850,6168,1640,7066,1160,31160,850,27005
102620,36,NY,10002,1,21180,12550,5360,2950,15360,33920,...,9240,8703,0,0,0,0,4010,3394,14700,31233
102621,36,NY,10002,2,8210,4660,1900,1480,5150,14540,...,7110,21394,0,0,0,0,1610,3192,6470,16689
102622,36,NY,10002,3,4810,3300,730,670,2780,7120,...,4730,34173,0,0,0,0,1050,3037,3660,9197
102623,36,NY,10002,4,2710,1850,520,270,1560,4020,...,2700,32931,0,0,0,0,620,2487,2020,6137
102624,36,NY,10002,5,3620,2200,1120,210,2160,6000,...,3600,81446,110,29,30,7,870,5642,2590,11309
102625,36,NY,10002,6,1650,710,870,50,1160,3370,...,1650,177730,1170,2081,1040,2957,840,17344,600,6812
102626,36,NY,10003,1,5030,4400,330,200,2940,5020,...,2790,3597,0,0,0,0,1140,1404,2990,4369
102627,36,NY,10003,2,3870,3350,280,150,2260,4420,...,3630,14014,0,0,0,0,940,2685,2660,5930
102628,36,NY,10003,3,3960,3470,280,120,2230,4510,...,3890,31169,0,0,0,0,970,2775,2740,6685
102629,36,NY,10003,4,3220,2710,330,100,1870,3820,...,3180,41102,0,0,0,0,720,2988,2290,6765
102630,36,NY,10003,5,6300,4830,1190,140,4080,8210,...,6260,152905,280,79,70,54,1410,10187,4330,20200
102631,36,NY,10003,6,6280,3070,2930,160,4920,11550,...,6280,1324171,4830,18193,4660,30617,2920,85141,2190,89202
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112549,36,NY,14901,1,2750,1690,270,750,990,4670,...,1080,851,0,0,0,0,110,86,2530,6452
112550,36,NY,14901,2,1310,650,320,280,540,2430,...,1110,2864,0,0,0,0,130,227,1160,3186
112551,36,NY,14901,3,620,250,290,90,310,1240,...,590,3464,0,0,0,0,120,211,490,1247
112552,36,NY,14901,4,310,60,220,0,170,730,...,310,2751,0,0,0,0,70,144,230,716
112553,36,NY,14901,5,250,40,210,0,160,650,...,250,4178,20,24,0,0,100,654,180,857
112554,36,NY,14901,6,40,0,30,0,30,90,...,40,3249,0,0,20,23,0,0,0,0
112555,36,NY,14903,1,1330,950,150,220,500,1760,...,600,485,0,0,0,0,70,54,1180,2375
112556,36,NY,14903,2,870,470,220,160,350,1540,...,750,2077,0,0,0,0,110,155,760,1961
112557,36,NY,14903,3,520,200,240,60,260,1030,...,500,2906,0,0,0,0,90,202,410,1168
112558,36,NY,14903,4,340,60,250,40,190,830,...,330,2838,0,0,0,0,70,159,260,840
112559,36,NY,14903,5,390,40,340,0,230,1080,...,390,6763,0,0,0,0,110,448,260,1070
112560,36,NY,14903,6,150,0,140,0,100,460,...,150,13629,100,167,90,106,70,850,50,859
112561,36,NY,14904,1,3150,2010,400,710,1110,4970,...,1340,1094,0,0,0,0,140,100,2870,6452
112562,36,NY,14904,2,1910,940,500,420,750,3570,...,1590,4133,0,0,0,0,190,225,1700,4775
112563,36,NY,14904,3,890,310,460,100,450,1910,...,860,4697,0,0,0,0,140,255,730,2024
112564,36,NY,14904,4,440,80,340,20,230,1050,...,440,3867,0,0,0,0,100,220,330,1006
112565,36,NY,14904,5,340,40,290,0,210,860,...,340,6071,0,0,0,0,100,331,220,857
112566,36,NY,14904,6,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
112567,36,NY,14905,1,1400,1010,140,220,560,1760,...,560,458,0,0,0,0,90,82,1200,2204
112568,36,NY,14905,2,950,540,230,160,390,1610,...,830,2238,0,0,0,0,130,155,800,1970
112569,36,NY,14905,3,630,310,240,70,340,1160,...,620,3755,0,0,0,0,120,246,490,1318
112570,36,NY,14905,4,470,110,330,40,290,1060,...,470,4185,0,0,0,0,120,315,330,1020
112571,36,NY,14905,5,630,80,540,0,400,1680,...,630,10799,0,0,0,0,190,794,420,1850
112572,36,NY,14905,6,180,20,160,0,140,500,...,180,15026,80,116,110,180,70,1167,80,1014
112573,36,NY,99999,1,18940,13470,2990,2350,10750,29750,...,9600,8667,0,0,0,0,2140,2094,14540,29674
112574,36,NY,99999,2,11180,6600,2220,2110,6630,19560,...,9730,29543,0,0,0,0,1680,3319,8900,21881
112575,36,NY,99999,3,7210,4160,1850,1080,4470,12340,...,6970,46465,0,0,0,0,1420,3593,5230,13916
112576,36,NY,99999,4,4180,2140,1570,490,2740,7850,...,4120,45151,0,0,0,0,800,2748,2900,9355
112577,36,NY,99999,5,6110,2820,2910,320,4430,12120,...,6030,131411,170,46,90,22,1520,8649,3750,16323
112578,36,NY,99999,6,5320,1600,3550,160,4810,12970,...,5330,1742768,2680,24261,3650,62647,1980,56545,2090,222171

We only need three columns from this dataset for our analysis:
    - Zipcode
    - Income Bracket (agi_stub column)
    - Number of Returns for each bracket (N1 column)

In [31]:
#Group the NY income data by Zipcode, Income Bracket, and Number of Returns (frequency)
df_incomeNY = df_incomeNY.groupby(['zipcode','agi_stub'], as_index=False).agg({'N1':'sum'})
df_incomeNY

      zipcode  agi_stub       N1
0           0         1  3445320
1           0         2  2124110
2           0         3  1297620
3           0         4   825090
4           0         5  1242910
5           0         6   533020
6        6390         1       40
7        6390         2       20
8        6390         3       50
9        6390         4        0
10       6390         5       40
11       6390         6        0
12      10001         1     3740
13      10001         2     2500
14      10001         3     1950
15      10001         4     1410
16      10001         5     2580
17      10001         6     2340
18      10002         1    21180
19      10002         2     8210
20      10002         3     4810
21      10002         4     2710
22      10002         5     3620
23      10002         6     1650
24      10003         1     5030
25      10003         2     3870
26      10003         3     3960
27      10003         4     3220
28      10003         5     6300
29      10003         6     6280
...       ...       ...      ...
9947    14901         1     2750
9948    14901         2     1310
9949    14901         3      620
9950    14901         4      310
9951    14901         5      250
9952    14901         6       40
9953    14903         1     1330
9954    14903         2      870
9955    14903         3      520
9956    14903         4      340
9957    14903         5      390
9958    14903         6      150
9959    14904         1     3150
9960    14904         2     1910
9961    14904         3      890
9962    14904         4      440
9963    14904         5      340
9964    14904         6        0
9965    14905         1     1400
9966    14905         2      950
9967    14905         3      630
9968    14905         4      470
9969    14905         5      630
9970    14905         6      180
9971    99999         1    18940
9972    99999         2    11180
9973    99999         3     7210
9974    99999         4     4180
9975    99999         5     6110
9976    99999         6     5320

[9977 rows x 3 columns]

Now, we should check for how complete this NY income dataset is. Bear in mind that the dataset includes data for residents outside of the five boroughs of New York City as well. <br>
<br>
Using the list of zip codes from the NYC Open Data site, we compare the list of NYC zipcodes against the NY income dataset. We find that there are 4,281,820 tax returns from NYC in the dataset, which is approximately half of the actual NYC population of 8.6 million. <br> 
<br>
According to 2017 estimates of age distribution in New York City by Baruch College, approximately 57.2% of the population are ages 20 to 59 years old. That means nearly 4.9 million people are assumed/eligible to have income tax returns. While the income dataset does not quite match the actual figures of people in New York City, it is still reasonable to conclude that the dataset serves as a good statistical representation of income distribution for NYC.
<br>
<br>
Zip Code Breakdowns for NYC - Updated September 2018<br>
https://data.cityofnewyork.us/City-Government/Zip-code-breakdowns/6bic-qvek
<br>
<br>
Age Distribution of NYC - Updated 2017 <br>
https://www.baruch.cuny.edu/nycdata/population-geography/age_distribution.htm

In [32]:
#list of NYC zipcodes
cols2 = ["10001","10002","10003","10004","10005","10006","10007","10009","10010","10011","10012","10013","10014",
         "10016","10017","10018","10019","10020","10021","10022","10023","10024","10025","10026","10027","10028",
         "10029","10030","10031","10032","10033","10034","10035","10036","10037","10038","10039","10040","10044",
         "10045","10065","10115","10119","10128","10154","10278","10280","10301","10302","10303","10304","10305",
         "10306","10307","10309","10310","10312","10314","10451","10452","10453","10454","10455","10456","10457",
         "10458","10459","10460","10461","10462","10463","10464","10465","10466","10467","10468","10469","10471",
         "10472","10473","10474","10475","10514","10543","10553","10573","10701","10705","10911","10965","10977",
         "11001","11021","11050","11101","11102","11103","11104","11105","11106","11111","11112","11201","11202",
         "11203","11204","11205","11206","11207","11208","11209","11210","11211","11212","11213","11214","11215",
         "11216","11217","11218","11219","11220","11221","11222","11223","11224","11225","11226","11228","11229",
         "11230","11231","11232","11233","11234","11235","11236","11237","11238","11239","11252","11354","11355",
         "11356","11357","11358","11360","11361","11362","11364","11365","11366","11367","11368","11369","11370",
         "11371","11372","11373","11374","11375","11377","11378","11379","11385","11411","11412","11413","11414",
         "11415","11416","11417","11418","11419","11420","11421","11422","11423","11424","11425","11426","11427",
         "11428","11429","11430","11431","11432","11433","11434","11435","11436","11439","11451","11471","11510",
         "11548","11566","11577","11580","11598","11629","11691","11692","11693","11694","11695","11731","11798",
         "11968","12423","12428","12435","12458","12466","12473","12528","12701","12733","12734","12737","12750",
         "12751","12754","12758","12759","12763","12764","12768","12779","12783","12786","12788","12789","13731",
         "16091","20459"]

test = df_incomeNY[df_incomeNY['zipcode'].isin(cols2)]
test.sum()

zipcode     14203062
agi_stub        4494
N1           4281820
dtype: int64

The 1-6 scale used in the agi_stub column isn't very helpful for the analysis. So we will replace this with the actual income brackets that the IRS dataset utilizes.

Income Brackets:
    - $1 - $24,999
    - $25,000 - $49,999
    - $50,000 - $74,999
    - $75,000 - $99,999
    - $100,000 - $199,999
    - >$200,000

In [33]:
#Add the official income bracket quantities to replace the 1-6 scale
bins=[0,1,2,3,4,5,np.inf]
names=['1-24999','25000-49999','50000-74999','75000-99999','100000-199999','>200000']
df_incomeNY['income_bracket'] = pd.cut(df_incomeNY['agi_stub'], bins, labels=names)
df_incomeNY = df_incomeNY.rename(columns = {'zipcode':'Zipcode'})#,'A02650': 'Total Income'})
#df_incomeNY['Act. Mean Income'] = df_incomeNY['Total Income']/df_incomeNY['N1']
#df_incomeNY['Act. Mean Income'] = df_incomeNY['Act. Mean Income'].apply(lambda x:x*1000).round(2)

df_incomeNY

      Zipcode  agi_stub       N1 income_bracket
0           0         1  3445320        1-24999
1           0         2  2124110    25000-49999
2           0         3  1297620    50000-74999
3           0         4   825090    75000-99999
4           0         5  1242910  100000-199999
5           0         6   533020        >200000
6        6390         1       40        1-24999
7        6390         2       20    25000-49999
8        6390         3       50    50000-74999
9        6390         4        0    75000-99999
10       6390         5       40  100000-199999
11       6390         6        0        >200000
12      10001         1     3740        1-24999
13      10001         2     2500    25000-49999
14      10001         3     1950    50000-74999
15      10001         4     1410    75000-99999
16      10001         5     2580  100000-199999
17      10001         6     2340        >200000
18      10002         1    21180        1-24999
19      10002         2     8210    25000-49999
20      10002         3     4810    50000-74999
21      10002         4     2710    75000-99999
22      10002         5     3620  100000-199999
23      10002         6     1650        >200000
24      10003         1     5030        1-24999
25      10003         2     3870    25000-49999
26      10003         3     3960    50000-74999
27      10003         4     3220    75000-99999
28      10003         5     6300  100000-199999
29      10003         6     6280        >200000
...       ...       ...      ...            ...
9947    14901         1     2750        1-24999
9948    14901         2     1310    25000-49999
9949    14901         3      620    50000-74999
9950    14901         4      310    75000-99999
9951    14901         5      250  100000-199999
9952    14901         6       40        >200000
9953    14903         1     1330        1-24999
9954    14903         2      870    25000-49999
9955    14903         3      520    50000-74999
9956    14903         4      340    75000-99999
9957    14903         5      390  100000-199999
9958    14903         6      150        >200000
9959    14904         1     3150        1-24999
9960    14904         2     1910    25000-49999
9961    14904         3      890    50000-74999
9962    14904         4      440    75000-99999
9963    14904         5      340  100000-199999
9964    14904         6        0        >200000
9965    14905         1     1400        1-24999
9966    14905         2      950    25000-49999
9967    14905         3      630    50000-74999
9968    14905         4      470    75000-99999
9969    14905         5      630  100000-199999
9970    14905         6      180        >200000
9971    99999         1    18940        1-24999
9972    99999         2    11180    25000-49999
9973    99999         3     7210    50000-74999
9974    99999         4     4180    75000-99999
9975    99999         5     6110  100000-199999
9976    99999         6     5320        >200000

[9977 rows x 4 columns]

In [34]:
# df_incomeNY=df_incomeNY.groupby('Zipcode')['Total Income','N1'].agg('sum')
# df_incomeNY.reset_index()
# df_incomeNY['average'] = df_incomeNY['Total Income']/df_incomeNY['N1']
# df_incomeNY['average'] = df_incomeNY['average'].apply(lambda x:x*1000).round(2)
# df_incomeNY = df_incomeNY.reset_index()
# df_incomeNY.Zipcode = df_incomeNY.Zipcode.astype(str)
# df_incomeNY.columns=['Zipcode','Total Income','Number of Returns','Average Income']
# df_incomeNY

Alternative:

We want to find the average income for each zipcode in order to measure wealth in an area. However, since we only have data on the _number_ of returns for each income bracket, it is impossible to find the actual average income in each zipcode. Thus, the best we can do is to estimate average income by taking the average, or midpoint, value of each income bracket range.

For example, if the income breakdown in a zipcode is as follows:
    - 50 returns in the $25,000-$49,999 income bracket
    - 30 returns in the $50,000-$74,999 income bracket
    - 60 returns in the $75,000-$99,999 income bracket
    - 20 returns in the >$200,000 income bracket
The average income for the zipcode would be calculated as:  

\begin{equation*}
\frac{(\frac{25000+49999}{2}*50) + (\frac{50000+74999}{2}*30) + (\frac{75000+99999}{2}*60) + (\frac{200000+300000}{2}*20)}{(50+30+60+20)} = 87499.56
\end{equation*}

Because the '>\\$200,000' income bracket has no upper limit, we capped the bracket at '\$300,000' so as to not skew average incomes too much to the higher end of the spectrum.
To calculate the median income, we also utilize the midpoint of each income bracket range. Thus, calculated median figures will be inaccurate since there are only 6 possible values, derived from the midpoints of 6 immutable income brackets. But it helps to get an idea of approximately the range in which the median income falls.

We create our own functions to calculate mean and median income.

In [35]:
#create custom functions to calculate mean and median incomes based on the income brackets.
#the result will be an estimate since we use the midpoint of each income bracket.

lower_limit = [1,25000,50000,75000,100000,200000]
upper_limit = [24999,49999,74999,99999,199999,300000]

def intervalmean(low, high, freq, n):
    mid=[0.0]*n
    sum=0
    freqSum=0
    
    #calculate sum of frequency, sum of multiplication of interval mid-values and respective interval frequency
    for i in range(0,n):
        mid[i] = ((low[i]+high[i])/2)
        sum=sum+mid[i]*freq[i]
        freqSum = freqSum + freq[i]
    return sum/freqSum

def intervalmedian(low, high, freq, n):
    mid=[0.0]*n
    mp = []
    
    #build the array to determine median
    for i in range(0,n):
        mid[i] = ((low[i]+high[i])/2)
        mp.append(mid[i])
    
    newlist = (list(zip(mp,freq)))
    a,b = np.array(newlist, dtype=np.int64).T
    data = np.repeat(a,b)
    return np.median(data)

Now, we apply the mean and median functions to our NY income dataset

In [36]:
#apply the custom mean and median functions to the NY income dataset

df_incomeNY = df_incomeNY.groupby(['Zipcode'])['N1'].apply(list)

df_incomeNY=pd.DataFrame(df_incomeNY).reset_index()

df_incomeNY['Mean Income'] = df_incomeNY.apply(lambda x: intervalmean(lower_limit,upper_limit,x['N1'],len(x['N1'])),axis=1).astype(float).round(2)
df_incomeNY['Median Income'] = df_incomeNY.apply(lambda x: intervalmedian(lower_limit,upper_limit,x['N1'],len(x['N1'])),axis=1).astype(float).round(2)

df_incomeNY.columns=['Zipcode','Bracket Frequencies','Est. Mean Income','Est. Median Income']
df_incomeNY.Zipcode = df_incomeNY.Zipcode.astype(str)
df_incomeNY

,Zipcode,Bracket Frequencies,Est. Mean Income,Est. Median Income
0,0,"[3445320, 2124110, 1297620, 825090, 1242910, 5...",62917.36,37499.0
1,6390,"[40, 20, 50, 0, 40, 0]",69166.30,62499.0
2,10001,"[3740, 2500, 1950, 1410, 2580, 2340]",93508.66,62499.0
3,10002,"[21180, 8210, 4810, 2710, 3620, 1650]",48977.37,12500.0
4,10003,"[5030, 3870, 3960, 3220, 6300, 6280]",113476.67,87499.0
5,10004,"[360, 250, 290, 210, 520, 850]",137449.34,149999.0
6,10005,"[690, 750, 860, 660, 1360, 1620]",127482.86,149999.0
7,10006,"[310, 290, 330, 250, 620, 570]",123522.89,149999.0
8,10007,"[470, 320, 280, 210, 590, 1570]",155450.38,149999.0
9,10009,"[9560, 6660, 5480, 3580, 5030, 2100]",71104.28,37499.0
10,10010,"[2560, 2280, 2550, 1980, 4010, 3980]",117892.83,87499.0
11,10011,"[5120, 3680, 3650, 3130, 6870, 7470]",120387.41,87499.0
12,10012,"[2390, 1740, 1730, 1340, 2730, 2540]",109462.41,87499.0
13,10013,"[4260, 2060, 1630, 1160, 2030, 3800]",106316.70,62499.0
14,10014,"[2770, 2160, 2330, 2040, 4640, 4720]",124102.06,149999.0
15,10016,"[5170, 4650, 5170, 3820, 6930, 6200]",109137.91,87499.0
16,10017,"[1820, 1380, 1490, 1250, 2650, 3260]",125695.92,87499.0
17,10018,"[1430, 1020, 820, 580, 1200, 1340]",105340.09,62499.0
18,10019,"[4920, 3650, 3560, 2540, 5400, 5040]",108049.28,87499.0
19,10021,"[3460, 2600, 3150, 2520, 4890, 6910]",128309.33,149999.0
20,10022,"[2770, 2130, 2320, 2010, 4480, 6130]",133057.94,149999.0
21,10023,"[5910, 3920, 3720, 3290, 7610, 9620]",125850.92,149999.0
22,10024,"[5710, 3590, 3570, 2860, 6110, 8570]",122932.16,87499.0
23,10025,"[12490, 7810, 6190, 4190, 7460, 7470]",91843.61,62499.0
24,10026,"[6900, 4270, 2550, 1410, 1880, 1030]",59236.14,37499.0
25,10027,"[11490, 6590, 3430, 1830, 2430, 1410]",54534.32,37499.0
26,10028,"[3920, 2860, 3730, 2950, 5300, 6340]",120617.23,87499.0
27,10029,"[16590, 9360, 4620, 1880, 1780, 830]",42387.80,37499.0
28,10030,"[6490, 3620, 1810, 810, 700, 200]",40782.94,37499.0
29,10031,"[13840, 7940, 4010, 1660, 1510, 380]",40494.80,37499.0
...,...,...,...,...
1633,14865,"[450, 260, 180, 110, 110, 20]",51105.90,37499.0
1634,14867,"[1010, 780, 410, 250, 250, 30]",49221.30,37499.0
1635,14869,"[220, 150, 110, 50, 60, 0]",48516.64,37499.0
1636,14870,"[1410, 890, 660, 460, 740, 330]",72605.48,37499.0
1637,14871,"[630, 470, 370, 260, 340, 50]",63619.94,37499.0
1638,14872,"[110, 80, 50, 0, 30, 0]",44444.15,37499.0
1639,14873,"[390, 300, 170, 100, 80, 0]",45672.76,37499.0
1640,14874,"[50, 30, 0, 20, 0, 0]",34999.75,24999.5
1641,14877,"[80, 40, 40, 30, 0, 0]",40131.29,37499.0
1642,14878,"[140, 80, 50, 30, 30, 0]",45454.26,37499.0
1643,14879,"[380, 240, 170, 90, 80, 0]",46093.45,37499.0
1644,14880,"[250, 190, 110, 70, 60, 0]",47426.15,37499.0
1645,14881,"[40, 50, 20, 30, 0, 0]",44642.50,37499.0
1646,14882,"[590, 430, 330, 210, 310, 90]",67091.51,37499.0
1647,14883,"[660, 540, 290, 190, 170, 30]",51196.49,37499.0
1648,14884,"[70, 40, 30, 30, 0, 0]",40440.88,37499.0
1649,14885,"[130, 90, 50, 40, 0, 0]",37499.71,37499.0
1650,14886,"[1120, 770, 510, 330, 490, 120]",62013.16,37499.0
1651,14889,"[260, 180, 100, 80, 50, 0]",45895.22,37499.0
1652,14891,"[790, 530, 290, 190, 200, 30]",50246.01,37499.0
1653,14892,"[1570, 910, 500, 290, 290, 50]",46086.98,37499.0
1654,14894,"[270, 180, 100, 50, 60, 0]",45075.46,37499.0
1655,14895,"[1650, 970, 600, 340, 360, 60]",48554.99,37499.0
1656,14897,"[130, 90, 50, 40, 40, 0]",50356.83,37499.0
1657,14898,"[250, 150, 90, 40, 50, 0]",43749.72,37499.0
1658,14901,"[2750, 1310, 620, 310, 250, 40]",37286.70,12500.0
1659,14903,"[1330, 870, 520, 340, 390, 150]",57638.59,37499.0
1660,14904,"[3150, 1910, 890, 440, 340, 0]",38056.94,37499.0
1661,14905,"[1400, 950, 630, 470, 630, 180]",64113.54,37499.0
1662,99999,"[18940, 11180, 7210, 4180, 6110, 5320]",70246.71,37499.0

The average income for NY State is about \\$60,764. This figure is comparable to the actual US Census figure for median income in NY State in 2017: $62,765 <br>
<br>
US Census Data for New York - Updated 2017 <br>
https://www.census.gov/quickfacts/NY

In [ ]:
#summary statistics for the NY income dataset. This includes data outside of the 5 boroughs of NYC
df_incomeNY.describe()

In [ ]:
# df_incomeNY2.describe()

# Finding Correlation Between Income and Playground Availability
Now that we cleaned up the park and playground datasets, as well as the NY income dataset, we can use the utilize the data to determine if there is a relationship between income and playground availibility in a zip code.

After we merge the NY income dataset with the Park/Playground compatible dataset, we get a DataFrame that shows the Mean and Median Incomes, as well as the number of Parks and Playgrounds, for each zipcode.

In [37]:
df_aggregate = pd.merge(df_incomeNY,df_allparksCompatible,on='Zipcode',how='outer')
df_aggregate = df_aggregate.sort_values(by=['No. of Parks'],ascending=False)
df_aggregate

,Zipcode,Bracket Frequencies,Est. Mean Income,Est. Median Income,No. of Parks,No. of Playgrounds,counts
254,11211,"[10060, 6720, 4980, 3080, 4190, 1920]",66784.83,37499.0,40.0,13.0,5.0
245,11201,"[5900, 4120, 4310, 3590, 7100, 6950]",113051.00,87499.0,27.0,10.0,5.0
3,10002,"[21180, 8210, 4810, 2710, 3620, 1650]",48977.37,12500.0,25.0,23.0,5.0
255,11212,"[20670, 10750, 4260, 1620, 1030, 40]",32160.31,12500.0,22.0,19.0,5.0
61,10314,"[12330, 8150, 6040, 4590, 7790, 1840]",70381.98,37499.0,21.0,12.0,5.0
50,10301,"[6490, 3910, 2720, 1680, 2430, 850]",62043.40,37499.0,20.0,8.0,5.0
302,11377,"[20980, 11150, 6270, 3220, 3350, 520]",43668.67,37499.0,20.0,7.0,5.0
249,11206,"[17360, 10000, 4930, 2140, 1730, 330]",39171.43,37499.0,20.0,18.0,5.0
68,10457,"[20000, 8480, 2830, 900, 470, 40]",27631.99,12500.0,19.0,15.0,5.0
67,10456,"[24520, 10970, 3410, 960, 530, 0]",27098.10,12500.0,18.0,12.0,5.0
60,10312,"[7860, 5230, 4240, 3480, 6650, 1770]",78818.52,62499.0,18.0,7.0,5.0
63,10452,"[21350, 9730, 3590, 960, 550, 20]",28387.23,12500.0,17.0,12.0,5.0
276,11234,"[14380, 9770, 6460, 4360, 6000, 1590]",61768.37,37499.0,17.0,14.0,5.0
71,10460,"[14600, 6900, 2300, 800, 490, 30]",29299.15,12500.0,16.0,4.0,5.0
62,10451,"[12230, 6570, 2730, 1020, 690, 50]",33281.21,12500.0,16.0,10.0,5.0
238,11101,"[5730, 3590, 2740, 1810, 3120, 1540]",74952.48,37499.0,16.0,8.0,5.0
33,10035,"[7040, 3890, 1950, 910, 1020, 320]",44175.22,37499.0,16.0,10.0,5.0
250,11207,"[22470, 12270, 5000, 2160, 1510, 120]",34435.78,12500.0,16.0,17.0,5.0
64,10453,"[23280, 9690, 3160, 900, 540, 30]",27104.20,12500.0,16.0,14.0,5.0
303,11378,"[6730, 4020, 2570, 1710, 2170, 440]",55590.69,37499.0,15.0,7.0,5.0
275,11233,"[14410, 9310, 4410, 1920, 1620, 310]",40442.98,37499.0,15.0,15.0,5.0
70,10459,"[12280, 5930, 1990, 660, 420, 0]",29182.12,12500.0,15.0,8.0,5.0
299,11373,"[27380, 12280, 5910, 2610, 2360, 330]",36111.43,12500.0,15.0,10.0,5.0
74,10463,"[12390, 7620, 5120, 3080, 4290, 1440]",59917.94,37499.0,14.0,8.0,5.0
27,10029,"[16590, 9360, 4620, 1880, 1780, 830]",42387.80,37499.0,14.0,12.0,5.0
14,10014,"[2770, 2160, 2330, 2040, 4640, 4720]",124102.06,149999.0,13.0,5.0,5.0
65,10454,"[9740, 4170, 1320, 350, 240, 20]",27288.32,12500.0,13.0,9.0,5.0
248,11205,"[7000, 4250, 2700, 1600, 2200, 1020]",60768.23,37499.0,12.0,12.0,5.0
295,11368,"[27870, 12450, 4960, 1860, 1300, 90]",31021.84,12500.0,12.0,6.0,5.0
305,11385,"[19640, 12760, 7620, 3880, 4320, 570]",47760.52,37499.0,12.0,11.0,5.0
...,...,...,...,...,...,...,...
1633,14865,"[450, 260, 180, 110, 110, 20]",51105.90,37499.0,NaN,NaN,NaN
1634,14867,"[1010, 780, 410, 250, 250, 30]",49221.30,37499.0,NaN,NaN,NaN
1635,14869,"[220, 150, 110, 50, 60, 0]",48516.64,37499.0,NaN,NaN,NaN
1636,14870,"[1410, 890, 660, 460, 740, 330]",72605.48,37499.0,NaN,NaN,NaN
1637,14871,"[630, 470, 370, 260, 340, 50]",63619.94,37499.0,NaN,NaN,NaN
1638,14872,"[110, 80, 50, 0, 30, 0]",44444.15,37499.0,NaN,NaN,NaN
1639,14873,"[390, 300, 170, 100, 80, 0]",45672.76,37499.0,NaN,NaN,NaN
1640,14874,"[50, 30, 0, 20, 0, 0]",34999.75,24999.5,NaN,NaN,NaN
1641,14877,"[80, 40, 40, 30, 0, 0]",40131.29,37499.0,NaN,NaN,NaN
1642,14878,"[140, 80, 50, 30, 30, 0]",45454.26,37499.0,NaN,NaN,NaN
1643,14879,"[380, 240, 170, 90, 80, 0]",46093.45,37499.0,NaN,NaN,NaN
1644,14880,"[250, 190, 110, 70, 60, 0]",47426.15,37499.0,NaN,NaN,NaN
1645,14881,"[40, 50, 20, 30, 0, 0]",44642.50,37499.0,NaN,NaN,NaN
1646,14882,"[590, 430, 330, 210, 310, 90]",67091.51,37499.0,NaN,NaN,NaN
1647,14883,"[660, 540, 290, 190, 170, 30]",51196.49,37499.0,NaN,NaN,NaN
1648,14884,"[70, 40, 30, 30, 0, 0]",40440.88,37499.0,NaN,NaN,NaN
1649,14885,"[130, 90, 50, 40, 0, 0]",37499.71,37499.0,NaN,NaN,NaN
1650,14886,"[1120, 770, 510, 330, 490, 120]",62013.16,37499.0,NaN,NaN,NaN
1651,14889,"[260, 180, 100, 80, 50, 0]",45895.22,37499.0,NaN,NaN,NaN
1652,14891,"[790, 530, 290, 190, 200, 30]",50246.01,37499.0,NaN,NaN,NaN
1653,14892,"[1570, 910, 500, 290, 290, 50]",46086.98,37499.0,NaN,NaN,NaN
1654,14894,"[270, 180, 100, 50, 60, 0]",45075.46,37499.0,NaN,NaN,NaN
1655,14895,"[1650, 970, 600, 340, 360, 60]",48554.99,37499.0,NaN,NaN,NaN
1656,14897,"[130, 90, 50, 40, 40, 0]",50356.83,37499.0,NaN,NaN,NaN
1657,14898,"[250, 150, 90, 40, 50, 0]",43749.72,37499.0,NaN,NaN,NaN
1658,14901,"[2750, 1310, 620, 310, 250, 40]",37286.70,12500.0,NaN,NaN,NaN
1659,14903,"[1330, 870, 520, 340, 390, 150]",57638.59,37499.0,NaN,NaN,NaN
1660,14904,"[3150, 1910, 890, 440, 340, 0]",38056.94,37499.0,NaN,NaN,NaN
1661,14905,"[1400, 950, 630, 470, 630, 180]",64113.54,37499.0,NaN,NaN,NaN
1662,99999,"[18940, 11180, 7210, 4180, 6110, 5320]",70246.71,37499.0,NaN,NaN,NaN

We generate a statistical correlation matrix to determine the correlation between each column: Mean Income, Median Income, Number of Parks, and Number of Playgrounds. The matrix generates Pearson correlation coefficients, which indicate the linear correlation between two variables.

Pearson correlation coefficients range from -1 to 1. <br>
-1 means that there is a perfectly negative correlation. <br>
+1 means that there is a perfectly positive correlation. <br>
0 means that there is no correlation.

In [38]:
corrmatrix = df_aggregate.corr()
corrmatrix=corrmatrix.drop(['counts'],axis=1)
corrmatrix=corrmatrix.drop(['counts'],axis=0)
corrmatrix

,Est. Mean Income,Est. Median Income,No. of Parks,No. of Playgrounds
Est. Mean Income,1.000000,0.880049,-0.216354,-0.440976
Est. Median Income,0.880049,1.000000,-0.262268,-0.450281
No. of Parks,-0.216354,-0.262268,1.000000,0.726582
No. of Playgrounds,-0.440976,-0.450281,0.726582,1.000000

As we can see from the results, there is a __moderately strong negative correlation__ between Mean Income and the Number of Playgrounds in any given area in NYC. <br>
>Correlation between Mean Income and Number of Playgrounds: -0.441 <br>
> Correlation between Median Income and Number of Playgrounds: -0.45 <br>
<br  />
> Correlation between Mean Income and Number of Parks: -0.216 <br>
> Correlation between Median Income and Number of Parks: -0.262 <br>

This means that as average income increases in a zipcode, the number of playgrounds decreases.
While there is evidence of a relationship between income and playground availability, the relationship between income and park availability is still inconclusive due to their weakly negative correlation coefficients.

# Data Visualization - Choropleth Map
To visualize the datasets used in this analysis, we can create a choropleth map. Through color coding and shading, a choropleth map is a great way to see the differences in income or number of parks/playgrounds in any given area. <br>
<br>
First we import the relevant libraries.

In [24]:
import folium
#import json
#from IPython.display import HTML, display

The following code will generate an interactive choropleth map of New York City.<br>
An HTML file labeled 'NYC Choropleth Map' will generate in the folder. This is where the map will be published. The file can be opened in a browser.<br>
<br>
Using the New York Zip Code GeoJson file from Github user enactdev, the zip code area outlines were shaped in the map. The shape file was originally sourced from the US Census Bureau site. <br> 
https://github.com/OpenDataDE/State-zip-code-GeoJSON <br>
<br>
https://www.census.gov/cgi-bin/geo/shapefiles2010/main <br>
<br>
The interactive map will have three overlays: Park Density Map, Income Map, and Playground Map.
Feel free to toggle the overlay views to see a certain map. For the Income Map, you can hover over any area to see more information regarding mean and median incomes in the area. For the Park Density Map, you can hover over any area to see more information regarding the number of parks and playgrounds in that area. The individual red dots from the Playground Map indicate playground locations.

__Important information:__
In the original playground dataset, 1245 playgrounds had data on longitude and latitude, even though most did not have zipcode data. The Playground Choropleth Map was generated using this longitude and latitude information. However, the Park Density Map was generated using the merged dataset between the NY Income and the Park/Playground compatible dataset. This dataset had a total of 1037 playgrounds and are linked to zipcodes. Thus, there are discrepancies in the playground figures between the Park Density Map and the Playground Map.

In [39]:
#initialize the geojson file
district_geo = r'ny_new_york_zip_codes3_geo.min.json'

#setup the longitude and latitude data from the original playground dataset
df_playground_available = df_playground[df_playground.lat.notnull() & df_playground.lon.notnull()]

#setup the park count data from the original park dataset
data_parks = pd.DataFrame(df_park['Zip'].value_counts())
data_parks.to_json('parkagg.json')
data_parks=data_parks.reset_index()
data_parks.columns=['ZipCode','No_Of_Parks']

#setup the mean income data from the aggregate dataset
data_income = df_aggregate.groupby('Zipcode',as_index=False).agg({'Est. Mean Income':'sum'})
data_income.columns=['ZipCode','Est_Mean_Income']
data_income.to_json('incomeagg.json')

#set up the NYC area
map1 = folium.Map(location = [40.75, -73.99], zoom_start=12)

#plot choropleth map of park density
chloropleth = folium.Choropleth(
    geo_data = district_geo,
    data_out = 'parkagg.json',
    data=data_parks,
    columns = ['ZipCode','No_Of_Parks'],
    key_on='feature.properties.ZipCode',
    fill_color = 'YlGn',
    fill_opacity = 0.7,
    line_opacity = 0.2,
    legend_name = 'Number of parks per Zip',
    name = 'Park Density Map',
    overlay = True,
    highlight = True).add_to(map1)

#plot choropleth map of income density
chloropleth2 = folium.Choropleth(
    geo_data = district_geo,
    data_out = 'incomeagg.json',
    data = data_income,
    columns = ['ZipCode','Est_Mean_Income'],
    key_on = 'feature.properties.ZipCode',
    fill_color = 'PuBu',
    fill_opacity = 0.7,
    line_opacity = 0.2,
    legend_name = 'Mean Income per Zip',
    name = 'Income Map',
    overlay = True,
    highlight = True).add_to(map1)

#plot available playgrounds based on their coordinates
playgrounds = folium.FeatureGroup(name='Playground Map').add_to(map1)
for i,row in df_playground_available.iterrows():
    folium.CircleMarker((row.lat,row.lon), radius=3, weight=2, 
                        color='red', fill_color='red', fill_opacity=.5, 
                        popup=row.Name, tooltip=row.Name).add_to(playgrounds)

folium.LayerControl(collapsed=False).add_to(map1)

#add hover effects for both maps
chloropleth.geojson.add_child(
    folium.features.GeoJsonTooltip(['ZipCode','No_Of_Parks','No_Of_Playgrounds']))
chloropleth2.geojson.add_child(
    folium.features.GeoJsonTooltip(['ZipCode','Est_Mean_Income','Est_Median_Income']))


#display(map1)
map1.save('NYC Choropleth Map.html')

In [40]:
data_income

     ZipCode  Est_Mean_Income
0          0         62917.36
1      10001         93508.66
2      10002         48977.37
3      10003        113476.67
4      10004        137449.34
5      10005        127482.86
6      10006        123522.89
7      10007        155450.38
8      10009         71104.28
9      10010        117892.83
10     10011        120387.41
11     10012        109462.41
12     10013        106316.70
13     10014        124102.06
14     10016        109137.91
15     10017        125695.92
16     10018        105340.09
17     10019        108049.28
18     10021        128309.33
19     10022        133057.94
20     10023        125850.92
21     10024        122932.16
22     10025         91843.61
23     10026         59236.14
24     10027         54534.32
25     10028        120617.23
26     10029         42387.80
27     10030         40782.94
28     10031         40494.80
29     10032         38992.93
...      ...              ...
1634   14867         49221.30
1635   14869         48516.64
1636   14870         72605.48
1637   14871         63619.94
1638   14872         44444.15
1639   14873         45672.76
1640   14874         34999.75
1641   14877         40131.29
1642   14878         45454.26
1643   14879         46093.45
1644   14880         47426.15
1645   14881         44642.50
1646   14882         67091.51
1647   14883         51196.49
1648   14884         40440.88
1649   14885         37499.71
1650   14886         62013.16
1651   14889         45895.22
1652   14891         50246.01
1653   14892         46086.98
1654   14894         45075.46
1655   14895         48554.99
1656   14897         50356.83
1657   14898         43749.72
1658   14901         37286.70
1659   14903         57638.59
1660   14904         38056.94
1661   14905         64113.54
1662    6390         69166.30
1663   99999         70246.71

[1664 rows x 2 columns]

Done!
<br>
<br>
<br>
# Some Double-Checks

The following code is to test and compare our initial NY Income dataset (that includes income data for all of NY state) with a NYC Income dataset that explicitly filters for NYC zipcodes, in order to check for any discrepancies. Ultimately, the correlation results bear no significant discrepancies from the initial correlation results.

Repeat the setup process like before using a test dataset:

In [ ]:
bins=[0,1,2,3,4,5,np.inf]
names=['1-24999','25000-49999','50000-74999','75000-99999','100000-199999','>200000']
test['income_bracket'] = pd.cut(test['agi_stub'], bins, labels=names)
test = test.rename(columns = {'zipcode':'Zipcode'})
test = test.groupby(['Zipcode'])['N1'].apply(list)

test=pd.DataFrame(test).reset_index()

test['Mean Income'] = test.apply(lambda x: intervalmean(lower_limit,upper_limit,x['N1'],len(x['N1'])),axis=1)
test['Median Income'] = test.apply(lambda x: intervalmedian(lower_limit,upper_limit,x['N1'],len(x['N1'])),axis=1)
test.columns=['Zipcode','Bracket Frequencies','Est. Mean Income','Est. Median Income']
test.Zipcode = test.Zipcode.astype(str)
test

Find the zip code with the highest mean income

In [ ]:
test.sort_values(by='Est. Mean Income', ascending=False)

We have a new NYC-specific merged dataset. The DataFrame is sorted in descending order for Number of Parks

In [ ]:
test2 = pd.merge(test,df_allparksCompatible,on='Zipcode',how='outer')
test2 = test2.sort_values(by=['No. of Parks'],ascending=False)
test2

## Summary Statistics for NYC Dataset
We find that the average income in NYC is \\$62,886, which is comparable with the actual US Census figure for median income in NYC in 2017: $57,782.

In [ ]:
print(test2.describe())
print('\r')
print(test2.info())
print('\r')
print(test2.sum())

Generate a correlation matrix to see the correlation relationships between Estimated Mean Income, Estimated Median Income, Number of Parks, and Number of Playgrounds. The results are similar to those from the first time! This is likely due to the fact that correlation cannot be computed when comparing NaN values. So even though the original NY income dataset had data regarding zip codes outside of NYC, they were not used to calculate correlation since they did not have park and playground data (exclusive to NYC) to compare against.<br>
<br>
There is a weakly negative relationship between income and park availability and a moderately strong negative relationship between income and playground availability.

In [ ]:
corrmatrix2 = test2.corr()
corrmatrix2=corrmatrix2.drop(['counts'],axis=1)
corrmatrix2=corrmatrix2.drop(['counts'],axis=0)
corrmatrix2

Some other interesting findings. This shows the number of parks and playgrounds with more than one zip code. They were excluded from analysis due to overcounting concerns.

In [ ]:
df_allparksCompatible2 = df_allparks[df_allparks['counts']>5]
df_allparksCompatible2.sum()

In [ ]:
df_allparksCompatible2